@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

body{
    max-width: 90%;
    border-top: solid #312e81 3px;
    margin: 20px auto;
    padding: 10px;
}

.logo{
    justify-content: left;
}

.container{
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.container ul{
    display: flex;
    list-style-type: none;
}

.container li{
    padding: 5px;
    padding-top: 10px;
}

.container a{
    align-self: center;
    padding-bottom: 30px;
}

.texto h3{
    display: flex;
    margin-top: 5px;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 2px;
}

.texto p{
    text-align: justify;
    margin-top: 5px;
    justify-content: space-between;
}

.contato{
   margin-top: 10px;
}

.contato input{
    display: flex;
}

footer{
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
}